<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a6b2">  <td>21/07/11 00:38:01</td>   <td>0</td> <td title="&gt;&gt;TestBase.startDriver()[pri:0, instance:tests.ShortPassword@3561c410]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@322561962</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>21/07/11 00:38:08</td>   <td>6904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShortPassword.UserInsertShortPassword()[pri:1, instance:tests.ShortPassword@3561c410]">UserInsertShortPassword</td> 
  <td>main@322561962</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>21/07/11 00:38:16</td>   <td>15244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.ShortPassword@3561c410]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@322561962</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>21/07/11 00:38:17</td>   <td>15373</td> <td title="&lt;&lt;TestBase.StopDriver()[pri:0, instance:tests.ShortPassword@3561c410]">&lt;&lt;StopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@322561962</td>   <td></td> </tr>
</table>
